body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://picsum.photos/id/1039/1920/1080');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    padding: 8px 32px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-buttons-container {
    display: flex;
}

.add-link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: none;
    width: 120px;
    border-radius: 8px;
    background-color: #eeeeee;
    cursor: pointer;
    transition: background-color 0.2s;
}

.link-button {
    position: relative;
    display: inline-block;
}

.link-button-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    width: 120px;
    background: transparent;
    backdrop-filter: blur(0px);
    transition: background-color 0.2s;
    cursor: pointer;
    color: white;
}

.link-button-body:hover {
    background-color: rgba(255, 255, 255, 0.1);
    outline: rgba(255, 255, 255, 0.2) 2px solid;
    backdrop-filter: blur(5px);
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin: 8px;
    border-radius: 50%;
    background-color: rgba(30, 30, 30, 0.5);
    outline: rgba(255, 255, 255, 0.5) 2px dashed;
    backdrop-filter: blur(5px);
}

.icon {
    width: 36px;
    height: 36px;
    margin: 8px;
}

.more-options-button {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    width: 32px;
    height: 32px;
    padding: 2px; /* Center the text visually */
    border-radius: 50%;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: none;
}

.link-button:hover .more-options-button {
    display: block;
}

.more-options-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.more-options-container {
    position: absolute;
    top: 4px;
    right: 4px;
}

.options-menu {
    position: absolute;
    top: 36px;
    right: 0;
    white-space: nowrap;
    background: rgba(30, 30, 30, 0.1);
    backdrop-filter: blur(10px);
    outline: rgba(255, 255, 255, 0.1) 2px solid;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.options-menu-item {
    display: block;
    padding: 8px 16px;
    width: 100%;
    border: none;
    background: none;
    color: white;
    text-align: left;
    cursor: pointer;
}

.options-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}